@import 'bootstrap';

header {
    nav {


        a {

            img {
                max-width: 50px;
                border-radius: 10px;

            }
        }
    }
}

.img_card {
    max-height: 250px;

    object-fit: cover;
}